<!DOCTYPE html>
<html lang="en">
<style>
  body {
      background-color: #A0C1B9;
  }
  .resize {
      max-width:20%;
      max-height: 20%;
  }
  .satu {
      text-align: center;
      color: black;
      font-family: Helvetica;
  }
</style>

<head>
    <meta charset="UTF-8">
    <title>First Challenge/Story</title>
</head>
<body>
  <div class="satu">
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm1 }}</article>
    <article>I am {{ age1 }} years old</article>
    <img src="http://about.tarung2017.com/foto/921.jpg" class="resize">
    <article>My hobby is {{ hobi1 }}<br><br><article>

    <h2>My friend name is {{ name2}} </h2>
    <article>NPM : {{ npm2 }}</article>
    <article>He is {{ age2 }} years old</article>
    <img src="http://about.tarung2017.com/foto/224.jpg" class="resize">
    <article>His hobby is {{ hobi2 }}<br><br></article>

    <h2>My other friend name is {{ name3 }}</h2>
    <article>NPM : {{ npm3 }}</article>
    <article>He is {{ age3 }} years old</article>
    <img src="http://about.tarung2017.com/foto/623.jpg" class="resize">
    <article>His hobby is {{ hobi3 }}<br><br></article>
  </div>
</body>
</html>
